* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica-Neue', sans-serif
}

body {
    color: #1a1a1a
}
 
    .contenido {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

        .menu {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            margin: 2em 0
        }

            .menu ul {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                list-style-type: none
            }

                .menu ul li {
                    padding: .5em 1em;
                    margin: 0 0 0 .5em;
                    color: #777777;
                    border: 1px solid #777777;
                    background: none;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: .3s
                }

                    .menu ul li:hover {
                        background: #777777;
                        color: #ffffff;
                    }

        .contenido h1 {
            font-family: 'Baloo Bhai', sans-serif;
        }

    .lista {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    } 

        .lista li {
            flex: 1 1 auto;
            margin: .5em .5em .5em 0;
            padding: 1em;
            background: #eee;
            font-size: 1.2rem;
            font-weight: bold;
            border-radius: 3px
        }

        .lista li h3 {
            font-family: 'Baloo Bhai', sans-serif;
        }

            .lista li p {
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: lighter
            }

    .modificar {
        padding: 1em 3em;
        outline: none;
        border: none;
        background: #05a19c;
        cursor: pointer;
        border-radius: 3px;
        color: #fff;
        margin: 1em 1em 0 0
    }

        .modificar:hover {
            background: #0f8884;
            transition: .2s
        }

    .borrar {
        padding: 1em 3em;
        outline: none;
        border: none;
        background: #d25959;
        cursor: pointer;
        border-radius: 3px;
        color: #fff
    }

        .borrar:hover {
            background: #ad3838;
            transition: .2s
        }

.addTarea {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    background: #eee;
    border-radius: 3px;
    display: flex;
    flex-flow: column wrap;
}


    #tarea, #contenido {
        width: 100%;
        background: none;
        outline: none;
        border: 1px solid #777777;
        border-radius: 3px;
        padding: 1em;
        font-size: 1rem;
        margin: .5em 0
    }

    #boton {
        outline: none;
        border: none;
        background: none;
        padding: 1em;
        font-size: 1rem;
        border-radius: 3px;
        background: #05a19c;
        color: #fff; cursor: pointer
    }

        #boton:hover {
            background: #0f8884;
            transition: .2s
        }